footer
    background: $primary-colour
    color: white
    margin: 0
    padding: 3rem 0
    position: relative
    h1
        text-align: center
        margin-bottom: 2rem
        font-weight: normal
    .link
        display: flex
        align-items: center
        margin: 1rem 0
        svg
            height: 1.5rem
            @media (max-width: $sm)
                height: 1rem
        a
            color: white
            margin-left: 0.5rem
            font-size: 1.5rem
            text-decoration: none
            @media (max-width: $sm)
                font-size: 1rem
    .flex
        justify-content: space-between
        flex-direction: column
        @media (min-width: $lg)
            flex-direction: row
    .container
        max-width: 960px
